<header class="header">
    <nav class="mui-appbar mui-z1 mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-xs-6 mui-col-sm-5 mui-col-md-4 mui-col-lg-4">
                <a href="http://www.incentro.com/" target="_blank">
                    <img src="resources/img/logo-incentro.png" alt="Logo Incentro" class="mui-appbar-height">
                </a>
            </div>
            <div class="mui-hidden-xs mui-col-xs-12 mui-col-sm-7 mui-col-md-6 mui-col-lg-6 mui-col-xs-offset-0 mui-col-sm-offset-0 mui-col-md-offset-2 mui-col-lg-offset-2 mui-text-right">
                <ul id="top-menu" class="mui-list-inline mui-appbar-line-height">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#devices">Devices</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#location">Location</a></li>
                </ul>
            </div>
            <a class="mui-visible-xs mui-hidden-sm mui-hidden-md mui-hidden-lg mui-col-xs-6 mui-col-sm-6 mui-text-right mui-appbar-line-height menu-button jq-toggleMenu">Menu</a>
        </div>
    </nav>
</header>