html {
	font-size: 16px;
	font-size: 1rem;
}

body {
	color: #333333;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
}

h1 {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 57px;
	font-size: 3.57143rem;
	font-weight: 300;
	text-transform: lowercase;
}

h2 {
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
    font-size: 2.57143rem;
	font-weight: 300;
	margin-bottom: 0.57143rem;
	text-transform: lowercase;
}

.header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.offwhite {
	background-color: #F5F5F5;
	padding: 5% 0;
}

.mui-appbar {
	background-color: #ffffff;
}

.menu-button,
.menu-button:active,
.menu-button:hover,
.menu-button:focus,
.menu-button:visited {
	color: #F58233;
	text-decoration: none;
}

nav.mui-appbar ul {
	margin: 0;
}

nav.mui-appbar ul li {
	border-bottom: 4px solid transparent;
}

nav.mui-appbar ul a,
nav.mui-appbar ul a:visited {
	color: #333333;
	display: inline-block;
	font-weight: 300;
	padding: 0px 15px;
	text-decoration: none;
	text-transform: lowercase;
}

nav.mui-appbar ul a:active,
nav.mui-appbar ul a:hover,
nav.mui-appbar ul a:focus {
	color: #F58233;
	text-decoration: none;
}

nav.mui-appbar ul li.active {
	border-color: #F58233;
}

nav.mui-appbar ul li.active a {
	color: #F58233;
}

#sidedrawer {
    background-color: #ffffff;
    bottom: 0;
    left: -200px;
    overflow: auto;
    position: fixed;
    top: 0;
    transition: left .2s;
    width: 200px;
    z-index: 2;
}

#sidedrawer.active {
    left: 0;
}

#sidenav h2 {
    padding-left: 22px;
    margin: 0;
}

#sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidenav li {
	padding: 15px 22px;
}

#sidenav ul a,
#sidenav ul a:visited {
	color: #333333;
	font-weight: 300;
	text-decoration: none;
	text-transform: lowercase;
}

#sidenav ul a:active,
#sidenav ul a:hover,
#sidenav ul a:focus {
	color: #F58233;
	text-decoration: none;
}

#sidenav ul li.active a {
	color: #F58233;
}

.bg-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	left: 0;
	overflow: hidden;
	position: relative;
   	top: 0;
}

.bg-section .mui-container {
	margin-top: 12%;
}

.bg-section h1 {
	margin-bottom: 1.07143rem;
	margin-top: 0.67em;
}

.bg-section p {
	color: #ffffff;
	font-size: 17px;
	font-size: 1.21429rem;
}

.mui-container {
	overflow: hidden;
}

/* Devices section */
#devices {
	margin: 5% 0;
}

/* Location section */
#location {
	margin: 5% 0;
}

#gmap {
	height: 450px;
	margin-top: 7%;
}
