{% include head.html %}

{% include header.html %}

    <div class="mui-appbar-height"></div>
    {% for section in site.data.bgsection %}
        <section id="home" class="bg-section">
            <div class="mui-container">
                <div class="mui-col-md-6">
                    <h1>{{ section.title }}</h1>
                    <p>{{ section.intro }}</p>
                    <a href="#devices" class="mui-btn mui-btn-primary mui-btn-raised">{{ section.button }}</a>
                    <a href="#location" class="mui-btn mui-btn-danger mui-btn-raised">{{ section.contactbutton }}</a>
                </div>
            </div>
        </section>
    {% endfor %}

    {% for section in site.data.devicesection %}
        <section id="devices">
            <div class="mui-container">
                <h2>{{ section.title }}</h2>
                <table class="mui-table mui-table-bordered">
                    <thead>
                        <tr>
                            <th>{{ section.vendor }}</th>
                            <th>{{ section.device }}</th>
                            <th>{{ section.os }}</th>
                            <th>{{ section.osversion }}</th>
                            <th>{{ section.remarks }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in site.data.devicelist %}
                             <tr>
                                <td>{{ device.vendor }}</td>
                                <td>{{ device.device }}</td>
                                <td>{{ device.os }}</td>
                                <td>{{ device.osversion }}</td>
                                <td>{{ device.remarks }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endfor %}

    {% for section in site.data.aboutsection %}
        <section id="about" class="offwhite">
            <div class="mui-container">
                <h2>{{ section.title }}</h2>
                {{ section.intro }}
            </div>
        </section>
    {% endfor %}

    {% for section in site.data.locationsection %}
        <section id="location">
            <div class="mui-container">
                <h2>{{ section.title }}</h2>
                {{ section.intro }}
                <h3>{{ section.subtitle }}</h3>
                <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                <![endif]-->
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                    hbspt.forms.create({ 
                        css: '',
                        portalId: '1926778',
                        formId: '624769ec-ba1d-453c-b228-f75868830bc6'
                    });
                </script>
                <div class="mui-panel" id="gmap"></div>
            </div>
        </section>
    {% endfor %}

{% include footer.html %}
